@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}
@*
    <div class="text-center">
        <h1 class="display-4">Это пробный проект ASP.NET MVC. HOME PAGE</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @section Scripts {
            <script src="~/js/site.js"></script>
        }
    </div>

    <html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Section</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>
                            @student.StudentId
                        </td>
                        <td>
                            @student.Name
                        </td>
                        <td>
                            @student.Branch
                        </td>
                        <td>
                            @student.Section
                        </td>
                        <td>
                            @student.Gender
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
    </html>
*@

    @*<div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.StudentId</td>
                        <td>@student.Name</td>
                        <td class="text-center"><a href="#" class="btn btn-primary">View</a></td>
                        <td class="text-center"><a href="#" class="btn btn-primary">Edit</a></td>
                        <td class="text-center"><a href="#" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td>Вариант 1</td>
                    <td class="text-center"><a href="/home/details/@student.StudentId">View</a></td>
                    <td>Вариант 2</td>
                    <td>@Html.ActionLink("View", "Details", "Home", new { id = student.StudentId }) </td>
                    <td>Вариант 3</td>
                    <td>
                        <a asp-controller="Home" asp-action="Details"
                           asp-route-id="@student.StudentId">View</a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>